## Testing Pycaret Library for Clustering

In [2]:
import pandas as pd 
from pycaret.clustering import *
import sqlite3

In [3]:
# conn = sqlite3.connect('../data/Training_DB/training_db.db')

In [4]:
# df = pd.read_sql("select * from thyroid_training", conn)

In [5]:
df = pd.read_csv('../data/test_pycaret_classification.csv')

In [6]:
df.dtypes

Unnamed: 0                     int64
age                          float64
sex                          float64
on_thyroxine                 float64
query_on_thyroxine           float64
on_antithyroid_medication    float64
sick                         float64
pregnant                     float64
thyroid_surgery              float64
I131_treatment               float64
query_hypothyroid            float64
query_hyperthyroid           float64
lithium                      float64
goitre                       float64
tumor                        float64
hypopituitary                float64
psych                        float64
T3                           float64
TT4                          float64
T4U                          float64
FTI                          float64
referral_source_STMW         float64
referral_source_SVHC         float64
referral_source_SVHD         float64
referral_source_SVI          float64
referral_source_other        float64
Cluster                        int64
label                        float64
dtype: object

In [7]:
df = df.drop(df.columns[0], axis = 1)

In [8]:
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U,FTI,referral_source_STMW,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_other,Cluster,label
0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,125.0,1.0,109.0,0.0,1.0,0.0,0.0,0.0,0,1.0
1,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,102.0,1.0,99.0,0.0,0.0,0.0,0.0,1.0,0,1.0
2,46.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,109.0,1.0,120.0,0.0,0.0,0.0,0.0,1.0,0,1.0
3,70.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,175.0,1.0,177.0,0.0,0.0,0.0,0.0,1.0,0,1.0
4,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61.0,1.0,70.0,0.0,0.0,0.0,1.0,0.0,2,1.0

In [9]:
clusters = df.Cluster.unique()

In [10]:
clusters

array([0, 2, 1], dtype=int64)

In [11]:
df_cluster_1 = df[df.Cluster==1]

In [12]:
df_cluster_1.shape

(3552, 27)

In [13]:
df_cluster_1.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U,FTI,referral_source_STMW,referral_source_SVHC,referral_source_SVHD,referral_source_SVI,referral_source_other,Cluster,label
40,44.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39.0,1.0,33.0,0.0,0.0,0.0,1.0,0.0,1,2.0
88,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,1.0,9.0,0.0,0.0,0.0,0.0,1.0,1,2.0
116,50.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,1,2.0
225,38.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32.0,1.0,32.0,0.0,0.0,0.0,0.0,1.0,1,1.0
259,63.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,1.0,14.0,0.0,0.0,0.0,1.0,0.0,1,2.0

In [14]:
X = df_cluster_1.drop('label',axis=1)
y= df_cluster_1['label']

In [15]:
# from sklearn.model_selection import train_test_split
# df_train,df_test = train_test_split(df_cluster_1,test_size = 0.3)

In [16]:
# exp_clf = setup(df_train, target = 'label',silent=True)

In [17]:
# compare_models()

In [18]:
# xgb=create_model('xgboost')

In [19]:
# lgb = create_model('lightgbm')

In [20]:
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from multiprocessing import Pool
import multiprocessing as mp
from sklearn.metrics  import roc_auc_score,accuracy_score

In [21]:
classifiers = {
    'xgb':XGBClassifier(),
    'rf':RandomForestClassifier(),
    'knn':KNeighborsClassifier()
    }


def evaluate_models(classifier):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)
    classifier.fit(X_train,y_train)
    y_pred = classifier.predict_proba(X_test)
    if len(y_test.unique()) == 1:
     score = accuracy_score(y_test,y_pred)
    else:
     score =  roc_auc_score(y_test, y_pred, multi_class='ovr')
    
    metric = {
        'algo':classifier.__class__.__name__,
        'score':float(score)
        }

    print(metric)
    metrics_df = pd.DataFrame(metric,index=[0])

    return metrics_df

In [22]:
all_algo_metrics = pd.DataFrame()
num_cores = mp.cpu_count() #number of cores on your machine
pool = Pool(num_cores)
for value in classifiers.values():
    all_algo_metrics = pd.concat([all_algo_metrics,evaluate_models(value)])

{'algo': 'XGBClassifier', 'score': 0.9869529920577947}
{'algo': 'RandomForestClassifier', 'score': 1.0}
{'algo': 'KNeighborsClassifier', 'score': 0.8320848938826467}

In [23]:
all_algo_metrics = all_algo_metrics.sort_values('score',ascending=False).reset_index(drop=True)

In [24]:
all_algo_metrics.loc[0]

algo     RandomForestClassifier
score                         1
Name: 0, dtype: object

In [25]:
classifiers = [XGBClassifier(),RandomForestClassifier(),KNeighborsClassifier()]

def evaluate_models2(classifier):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)
    classifier.fit(X_train,y_train)
    y_pred = classifier.predict_proba(X_test)
    if len(y_test.unique()) == 1:
     score = accuracy_score(y_test,y_pred)
    else:
     score =  roc_auc_score(y_test, y_pred, multi_class='ovr')
    
    metric = {
        'algo':classifier.__class__.__name__,
        'score':float(score)
        }

    print(metric)
    metrics_df = pd.DataFrame(metric,index=[0])

    return metrics_df

In [26]:
# import sys
# sys.modules['__main__'].__file__ = 'ipython'
# pool.map(evaluate_models2,classifiers)
# pool.close()
# pool.join()

In [27]:
processes = []
for i,value in enumerate(classifiers):
    p = mp.Process(target=evaluate_models2, args=(value,))
    processes.append(p)
    p.start()
    
for process in processes:
    process.join()

In [28]:
processes

[<Process(Process-9, stopped[1])>,
 <Process(Process-10, stopped[1])>,
 <Process(Process-11, stopped[1])>]

In [29]:
groups = df.groupby('Cluster')

In [35]:
for group_name, df_group in groups:
    print(f'Group:{group_name}, Shape:{df_group.shape}')
    print(df_group.head())

Group:0, Shape:(5011, 27)
    age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_medication  \
0  41.0  0.0           0.0                 0.0                        0.0
1  23.0  0.0           0.0                 0.0                        0.0
2  46.0  1.0           0.0                 0.0                        0.0
3  70.0  0.0           1.0                 0.0                        0.0
5  18.0  0.0           1.0                 0.0                        0.0

   sick  pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...  \
0   0.0       0.0              0.0             0.0                0.0  ...
1   0.0       0.0              0.0             0.0                0.0  ...
2   0.0       0.0              0.0             0.0                0.0  ...
3   0.0       0.0              0.0             0.0                0.0  ...
5   0.0       0.0              0.0             0.0                0.0  ...

     TT4  T4U    FTI  referral_source_STMW  referral_source_SVHC  \
0  125.0  1.0  109.0                   0.0                   1.0
1  102.0  1.0   99.0                   0.0                   0.0
2  109.0  1.0  120.0                   0.0                   0.0
3  175.0  1.0  177.0                   0.0                   0.0
5  183.0  1.0  141.0                   0.0                   0.0

   referral_source_SVHD  referral_source_SVI  referral_source_other  Cluster  \
0                   0.0                  0.0                    0.0        0
1                   0.0                  0.0                    1.0        0
2                   0.0                  0.0                    1.0        0
3                   0.0                  0.0                    1.0        0
5                   0.0                  0.0                    1.0        0

   label
0    1.0
1    1.0
2    1.0
3    1.0
5    1.0

[5 rows x 27 columns]
Group:1, Shape:(3552, 27)
      age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_medication  \
40   44.0  1.0           0.0                 0.0                        0.0
88   39.0  0.0           0.0                 0.0                        0.0
116  50.0  1.0           0.0                 0.0                        0.0
225  38.0  1.0           0.0                 0.0                        0.0
259  63.0  1.0           0.0                 0.0                        0.0

     sick  pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...  \
40    0.0       0.0              0.0             0.0                0.0  ...
88    0.0       0.0              0.0             0.0                0.0  ...
116   0.0       0.0              0.0             0.0                0.0  ...
225   0.0       0.0              0.0             0.0                0.0  ...
259   0.0       0.0              0.0             0.0                0.0  ...

      TT4  T4U   FTI  referral_source_STMW  referral_source_SVHC  \
40   39.0  1.0  33.0                   0.0                   0.0
88   11.0  1.0   9.0                   0.0                   0.0
116  32.0  1.0  28.0                   0.0                   0.0
225  32.0  1.0  32.0                   0.0                   0.0
259  14.0  1.0  14.0                   0.0                   0.0

     referral_source_SVHD  referral_source_SVI  referral_source_other  \
40                    0.0                  1.0                    0.0
88                    0.0                  0.0                    1.0
116                   0.0                  0.0                    1.0
225                   0.0                  0.0                    1.0
259                   0.0                  1.0                    0.0

     Cluster  label
40         1    2.0
88         1    2.0
116        1    2.0
225        1    1.0
259        1    2.0

[5 rows x 27 columns]
Group:2, Shape:(5361, 27)
     age  sex  on_thyroxine  query_on_thyroxine  on_antithyroid_medication  \
4   70.0  0.0           0.0                 0.0                        0.0
6   59.0  0.0           0.0                 0.0                        0.0
16  42.0  0.0           0.0                 0.0                        0.0
26  60.0  1.0           1.0                 0.0                        0.0
34  85.0  0.0           0.0                 0.0                        0.0

    sick  pregnant  thyroid_surgery  I131_treatment  query_hypothyroid  ...  \
4    0.0       0.0              0.0             0.0                0.0  ...
6    0.0       0.0              0.0             0.0                0.0  ...
16   0.0       0.0              0.0             0.0                0.0  ...
26   0.0       0.0              0.0             0.0                0.0  ...
34   0.0       0.0              0.0             0.0                1.0  ...

     TT4  T4U   FTI  referral_source_STMW  referral_source_SVHC  \
4   61.0  1.0  70.0                   0.0                   0.0
6   72.0  1.0  78.0                   0.0                   0.0
16  70.0  1.0  81.0                   0.0                   0.0
26  57.0  1.0  92.0                   0.0                   0.0
34  66.0  1.0  61.0                   0.0                   0.0

    referral_source_SVHD  referral_source_SVI  referral_source_other  Cluster  \
4                    0.0                  1.0                    0.0        2
6                    0.0                  0.0                    1.0        2
16                   0.0                  0.0                    1.0        2
26                   0.0                  0.0                    1.0        2
34                   0.0                  0.0                    1.0        2

    label
4     1.0
6     1.0
16    1.0
26    1.0
34    1.0

[5 rows x 27 columns]

In [1]:
import importlib
# Load "module.submodule.MyClass"
MyClass = getattr(importlib.import_module("sklearn.ensemble"), "RandomForestClassifier")
# Instantiate the class (pass arguments to the constructor, if needed)
instance = MyClass()

In [2]:
instance

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)