In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../Data/COVID_For_SAC/covid_19_india.csv')

In [4]:
data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [9]:
data.shape

(1382, 9)

In [5]:
kerala_df = data[data['State/UnionTerritory']=='Kerala']

In [6]:
kerala_df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [8]:
kerala_df.shape

(89, 9)

In [10]:
karnataka_df = data[data['State/UnionTerritory']=='Karnataka']

In [11]:
karnataka_df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
74,75,09/03/20,6:00 PM,Karnataka,1,0,0,0,1
89,90,10/03/20,6:00 PM,Karnataka,4,0,0,0,4
108,109,11/03/20,6:00 PM,Karnataka,4,0,0,0,4
119,120,12/03/20,6:00 PM,Karnataka,4,0,0,0,4
132,133,13/03/20,6:00 PM,Karnataka,6,0,0,1,6

In [12]:
karnataka_df.shape

(50, 9)

In [16]:
maharashtra_df = data[data['State/UnionTerritory']=='Maharashtra']

In [17]:
maharashtra_df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
76,77,09/03/20,6:00 PM,Maharashtra,2,0,0,0,2
91,92,10/03/20,6:00 PM,Maharashtra,5,0,0,0,5
97,98,11/03/20,6:00 PM,Maharashtra,2,0,0,0,2
120,121,12/03/20,6:00 PM,Maharashtra,11,0,0,0,11
133,134,13/03/20,6:00 PM,Maharashtra,14,0,0,0,14

In [18]:
maharashtra_df.shape

(50, 9)

In [20]:
kerala_df.to_csv('../Data/COVID_For_SAC/state_kerala_covid_cases.csv',index=False)
karnataka_df.to_csv('../Data/COVID_For_SAC/state_karnataka_covid_cases.csv',index=False)
maharashtra_df.to_csv('../Data/COVID_For_SAC/state_maharashtra_covid_cases.csv',index=False)