In [3]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/tweets_with_location_raw.csv')
df.head()

,geo,coordinatestweet,user_handle,location
0,NaN,"RT @CNBCTV18Live: Govt issues ordinance, #PMCA...",carahulgala,"Mumbai, India"
1,NaN,"RT @ANI: 34 people traced in Ahmednagar, inclu...",reddy_kanmu,India
2,NaN,RT @ANI: Delhi: A doctor working at a Delhi go...,setukumar07,kota india
3,NaN,"RT @ANI: 34 people traced in Ahmednagar, inclu...",SmjSri,NaN
4,NaN,"RT @CNBCTV18Live: Govt issues ordinance, #PMCA...",amitkumar1973,india

In [7]:
df.geo.value_counts()

Series([], Name: geo, dtype: int64)

In [98]:
df_1 = pd.DataFrame.from_dict(df.geo)
df_1['geo']=df_1.geo.str.replace('\'','\"')

In [100]:
df_1.head()

                                                 geo
0  {"type": "Point", "coordinates": [12.9715987, ...
1  {"type": "Point", "coordinates": [12.971117, 7...
2  {"type": "Point", "coordinates": [12.98203978,...
3  {"type": "Point", "coordinates": [12.9697832, ...
4  {"type": "Point", "coordinates": [12.88300929,...

In [109]:
coordinates = []
for row in df_1.values:
    row_json = json.loads(row[0]) 
    coordinates.append(row_json.get('coordinates'))

In [111]:
df_1['coordinates'] = coordinates

In [115]:
df_1.coordinates

0      [12.9715987, 77.5945627]
1        [12.971117, 77.597645]
2     [12.98203978, 77.7102119]
3     [12.9697832, 77.70488888]
4    [12.88300929, 77.58082129]
5      [12.9715987, 77.5945627]
6          [12.12785, 78.15856]
Name: coordinates, dtype: object

In [118]:
df[['lat','long']] = df_1['coordinates'].apply(pd.Series)

In [120]:
import folium

In [128]:
map1 = folium.Map(
    location=[12.971599,77.594563],
    zoom_start=11,
)
df.apply(lambda row:folium.Marker(location=[row["lat"], row["long"]]).add_to(map1), axis=1)
map1